# STEP ONE: DATA ACQUISITION AND FORMATTING

In [9]:
# Reading in the csv file
import pandas as pd

activities_df = pd.read_csv("C:/Users/17178/Desktop/GITHUB_PROJECTS/Strava-API-and-Sheets-Integration/python/data/GoonsActivities.csv")
activities_df.head(5) # Viewing the first five activities from GoonsActivities.csv

,ATHLETE,ACTIVITY ID,RUN,MOVING TIME,DISTANCE,PACE,FULL DATE,TIME,DAY,MONTH,DATE,YEAR,SPM AVG,HR AVG,WKT TYPE,DESCRIPTION
0,DAVID L,8847327978,The Chilling of a Sacred Beer,00:49:01,5.11,00:09:38,4/7/2023,6:54 AM,FRI,4,7,2023,158.0,166.1,0.0,NaN
1,PATRICK L,8845200632,Easy TM Run,00:56:04,6.04,00:09:23,4/6/2023,7:30 PM,THU,4,6,2023,167.0,126.8,0.0,NaN
2,PAIGE O,8843390044,Jog,00:56:02,7.02,00:08:02,4/6/2023,10:45 AM,THU,4,6,2023,184.8,149.1,0.0,NaN
3,MARK M,8842522035,Morning Run,01:00:03,8.04,00:07:32,4/6/2023,9:00 AM,THU,4,6,2023,NaN,149.3,0.0,Fun in the mist w Sean
4,DAVID L,8841876405,We’re So Back,00:56:00,5.81,00:09:39,4/6/2023,6:50 AM,THU,4,6,2023,155.8,169.0,0.0,& so’s the humidity! Last 2 days have felt su...

In [ ]:
# Viewing data types of each column