# STEP ONE: DATA ACQUISITION AND FORMATTING

In [396]:
# Importing the necessary libraries
import pandas as pd
import datetime as dt

In [397]:
# Reading in the CSV file and displaying the first five activities
activities_df = pd.read_csv("C:/Users/17178/Desktop/GITHUB_PROJECTS/Strava-API-and-Sheets-Integration/python/data/GoonsActivities.csv", header=0)
activities_df.head(5)

,ATHLETE,ACTIVITY ID,RUN,MOVING TIME,DISTANCE,PACE,FULL DATE,TIME,DAY,MONTH,DATE,YEAR,SPM AVG,HR AVG,WKT TYPE,DESCRIPTION
0,PAIGE O,8850203564,Multitasking,00:53:03,7.02,00:07:38,4/7/2023,3:58 PM,FRI,4,7,2023,185.6,148.9,0.0,While the children played soccer
1,PATRICK L,8848537650,"Warm Up + INTERVALS: 1M @ goal MP, 2'R, 3x(1k ...",01:02:02,8.05,00:07:45,4/7/2023,9:57 AM,FRI,4,7,2023,177.2,154.4,3.0,Solid workout. Had to hold myself back. No ide...
2,DAVID L,8847327978,The Chilling of a Sacred Beer,00:49:01,5.11,00:09:38,4/7/2023,6:54 AM,FRI,4,7,2023,158.0,166.1,0.0,NaN
3,PATRICK L,8845200632,Easy TM Run,00:56:04,6.04,00:09:23,4/6/2023,7:30 PM,THU,4,6,2023,167.0,126.8,0.0,NaN
4,PAIGE O,8843390044,Jog,00:56:02,7.02,00:08:02,4/6/2023,10:45 AM,THU,4,6,2023,184.8,149.1,0.0,NaN

In [398]:
# Viewing data types of each column
activities_df.dtypes

ATHLETE         object
ACTIVITY ID      int64
RUN             object
MOVING TIME     object
DISTANCE       float64
PACE            object
FULL DATE       object
TIME            object
DAY             object
MONTH            int64
DATE             int64
YEAR             int64
SPM AVG        float64
HR AVG         float64
WKT TYPE       float64
DESCRIPTION     object
dtype: object

In [399]:
# Converting full date
activities_df["FULL DATE"] = activities_df["FULL DATE"].astype("string")
activities_df["FULL DATE"] = pd.to_datetime(activities_df["FULL DATE"], yearfirst=False, dayfirst=False)

# Converting time
activities_df["TIME"] = pd.to_datetime(activities_df["TIME"]).dt.strftime('%H:%M %p')
# Annoyingly, when I do strftime('%H:%M %p'), things sort correctly below but I don't get the format I want
# BUT, when I do strftime('%I:%M %p'), I get the format I want, but then things don't sort correctly :/
# Desire: Format I want AND it sorts correct. 

# Sorting to be safe
activities_df = activities_df.sort_values(by=["FULL DATE", "TIME"], ascending=[False, False]) # Extra precaution (things should be sorted properly as is)

C:\Users\17178\AppData\Local\Temp\ipykernel_26632\3380515255.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  activities_df["TIME"] = pd.to_datetime(activities_df["TIME"]).dt.strftime('%H:%M %p')

In [400]:
activities_df[["ATHLETE", "ACTIVITY ID", "FULL DATE", "TIME"]]

       ATHLETE  ACTIVITY ID  FULL DATE      TIME
0      PAIGE O   8850203564 2023-04-07  15:58 PM
1    PATRICK L   8848537650 2023-04-07  09:57 AM
2      DAVID L   8847327978 2023-04-07  06:54 AM
3    PATRICK L   8845200632 2023-04-06  19:30 PM
4      PAIGE O   8843390044 2023-04-06  10:45 AM
..         ...          ...        ...       ...
263    TIMMY B   8457699167 2023-01-26  17:59 PM
264  PATRICK L   8454470364 2023-01-26  06:31 AM
265  PATRICK L   8449259356 2023-01-25  06:55 AM
266  PATRICK L   8447315741 2023-01-24  19:22 PM
267    TIMMY B   8447066710 2023-01-24  17:49 PM

[268 rows x 4 columns]